[Unit]
Description=OvS enabled checking
After=logagent.service
Before=ovsdb-server.service

[Service]
Type=oneshot
ExecCondition=/bin/sh -c '/etc/scripts/run_ovs_infra.sh'
ExecStart=true
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
