[Unit]
Description=OvS enabled checking
After=logagent.service
Before=ovsdb-server.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/etc/scripts/run_inangoplug.sh'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
