[Unit]
Description=OvS enabled checking
After=local-fs.target securemount.service
Before=ovsdb-server.service gwprovapp.service gwprovapp-ethwan.service

[Service]
Type=oneshot
ExecCondition=/bin/sh -c '/etc/scripts/run_inangoplug.sh'
ExecStart=true
RemainAfterExit=yes
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
