[Unit]
Description=Inangoplug connection to server
BindsTo=check_ovs_infra_enabled.service
After=check_ovs_infra_enabled.service CcspPandMSsp.service
ConditionPathExists=/tmp/pam_initialized

[Service]
Type=simple
ExecStart=/bin/sh -c '/etc/scripts/connect_inangoplug.sh'
SuccessExitStatus=2

[Install]
WantedBy=multi-user.target
