[Unit]
Description=Inangoplug connection to server
BindsTo=check_inangoplug_enabled.service
After=check_inangoplug_enabled.service CcspPandMSsp.service
ConditionPathExists=/tmp/pam_initialized

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/etc/scripts/connect_inangoplug.sh'

[Install]
WantedBy=multi-user.target
